{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} About {% endblock %}


{% block body %}
<section>
    <div class='container'>
        <br><br>
        <h2>Who Are We?</h2>
        <p>Marvel Writers is a reputable academic site across the internet. We offer a variety of services. 
            Do you need your assignment to be written? Don’t worry; we are here for you. Just place an order, 
            sit back and relax, and you will have your final paper delivered to your email. 
            Do you have an online class? Kindly send us the course details and we will help you out. 
            Are you pressed up with thesis writing? 
            Send us the paper details and we will certainly come to your rescue.</p>
        <br>

        <h2>How We Work</h2>

        <ol>
            <li>
                <h4>Place Your Order</h4>
                <p>Just fill in the simple form at the Hire Us page. Kindly ensure that you fill in all the necessary details 
                    so as to avoid any incovenience.</p>
            <li>
                <h4>Working with Our Team</h4>
                <p>After placing your order, you will be asked to  complete the payment form. We will then send a confirmation message
                    once payment has been confirmed and your paper has been assigned to a writer. 
                    Here at Marvel Writers, we choose writers based on their area of expertise and experience in academic writing. 
                    We also ensure that the writer has enough time to complete the project within the deadline. We ensure that 
                    your paper is completely perfect by hiring only Native English-speaking writers 
                    and check the paper using powerful plagiarism-checking tools to confirm that the essay is 100% unique.</p>
            </li>

            <li>
                <h4>Quality Checking</h4>
                <p>We have a team of qualified editors with years of experience. After the writer completes the paper, 
                    we send it to the team of editors who check and make corrections where necessary. 
                    We also offer a plagiarism report to assure you that the paper is 100% original.</p>
            </li>

            <li>
                <h4>Work Submission</h4>
                <p>Finally, we will send the final paper via email to the email you gave us in the order form. 
                    We ensure that the writer completes the paper within the specified deadline. 
                    We also provide revisions if the paper does not meet your expectations though this is very rare 
                    considering that our writers are very qualified and dedicated. 
                    In the rare case that this does happen, we will contact our support team, which will ensure that the 
                    revision is done and done perfectly. 
                    Remember, you can request as many revisions as you need so as to ensure that the paper meets your expectations.</p>
            </li>

        </ol>

        <h2>Our Awesome Pricing</h2>
        <p>Marvel Writers offers competitive prices in academic writing. We are here to give 
            you a high quality essay at a reasonable price.</p>
            
        <div style="overflow-x:auto;">
            <table style="color: #222222;" border="1" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                    <td class="pricetable">Deadline</td>
                    <td class="pricetable">High&nbsp;&nbsp;School</td>
                    <td class="pricetable">College</td>
                    <td class="pricetable">University</td>
                    <td class="pricetable">Masters</td>
                    <td class="pricetable">PhD</td>
                    </tr>
                    <tr>
                    <td class="pricetable">1 Month</td>
                    <td class="pricetable">$10</td>
                    <td class="pricetable">$11</td>
                    <td class="pricetable">$12</td>
                    <td class="pricetable">$13</td>
                    <td class="pricetable">$14</td>
                    </tr>
                    <tr>
                    <td class="pricetable">3 weeks</td>
                    <td class="pricetable">$11</td>
                    <td class="pricetable">$12</td>
                    <td class="pricetable">$13</td>
                    <td class="pricetable">$14</td>
                    <td class="pricetable">$15</td>
                    </tr>
                    <tr>
                    <td class="pricetable">2 weeks</td>
                    <td class="pricetable">$12</td>
                    <td class="pricetable">$13</td>
                    <td class="pricetable">$14</td>
                    <td class="pricetable">$15</td>
                    <td class="pricetable">$16</td>
                    </tr>
                    <tr>
                    <td class="pricetable">10 days</td>
                    <td class="pricetable">$13</td>
                    <td class="pricetable">$14</td>
                    <td class="pricetable">$15</td>
                    <td class="pricetable">$16</td>
                    <td class="pricetable">$17</td>
                    </tr>
                    <tr>
                    <td class="pricetable">7 Days</td>
                    <td class="pricetable">$14</td>
                    <td class="pricetable">$15</td>
                    <td class="pricetable">$16</td>
                    <td class="pricetable">$17</td>
                    <td class="pricetable">$18</td>
                    </tr>
                    <tr>
                    <td class="pricetable">5 days</td>
                    <td class="pricetable">$15</td>
                    <td class="pricetable">$16</td>
                    <td class="pricetable">$17</td>
                    <td class="pricetable">$18</td>
                    <td class="pricetable">$19</td>
                    </tr>
                    <tr>
                    <td class="pricetable">4 Days</td>
                    <td class="pricetable">$16</td>
                    <td class="pricetable">$17</td>
                    <td class="pricetable">$18</td>
                    <td class="pricetable">$19</td>
                    <td class="pricetable">$20</td>
                    </tr>
                    <tr>
                    <td class="pricetable">3 days</td>
                    <td class="pricetable">$17</td>
                    <td class="pricetable">$18</td>
                    <td class="pricetable">$19</td>
                    <td class="pricetable">$20</td>
                    <td class="pricetable">$21</td>
                    </tr>
                    <tr>
                    <td class="pricetable">2 days</td>
                    <td class="pricetable">$18</td>
                    <td class="pricetable">$19</td>
                    <td class="pricetable">$20</td>
                    <td class="pricetable">$21</td>
                    <td class="pricetable">$22</td>
                    </tr>
                    <tr>
                    <td class="pricetable">24 Hours</td>
                    <td class="pricetable">$19</td>
                    <td class="pricetable">$20</td>
                    <td class="pricetable">$21</td>
                    <td class="pricetable">$22</td>
                    <td class="pricetable">$23</td>
                    </tr>
                    <tr>
                    <td class="pricetable">12 Hours</td>
                    <td class="pricetable">$20</td>
                    <td class="pricetable">$21</td>
                    <td class="pricetable">$22</td>
                    <td class="pricetable">$23</td>
                    <td class="pricetable">$24</td>
                    </tr>
                    <tr>
                    <td class="pricetable">6 Hours</td>
                    <td class="pricetable">$21</td>
                    <td class="pricetable">$22</td>
                    <td class="pricetable">$23</td>
                    <td class="pricetable">$24</td>
                    <td class="pricetable">$25</td>
                    </tr>
                    <tr>
                    <td class="pricetable">3 Hours</td>
                    <td class="pricetable">$22</td>
                    <td class="pricetable">$23</td>
                    <td class="pricetable">$24</td>
                    <td class="pricetable">$25</td>
                    <td class="pricetable">$26</td>
                    </tr>
                    </tbody>
            </table>
        </div>>

        <h2>Special Deals and Generous Discounts</h2>
        <p>At Marvel Writers, we always take care of your needs. 
            That’s why we offer discounts on orders placed. This will not only help you get high quality work, 
            but will also help you save big. Therefore, the more you place orders with us, 
            the more you save.</p>
        <h2>Guarantees</h2>
        <h4>High Quality Essays</h4>
        <p>We guarantee high-quality work, no matter how tedious or hard the instructions may be. 
            We have a pool of professional writers who are willing to take up any task and produce high-quality work. 
            All our writers understand the need for high-quality papers.</p>
        <h4>Revision Policy</h4>
        <p>Revisions will be done for free in case the revision request fulfills the following terms:</p>
        <ul>
            <li><b>Your instructions: </b>The revision instructions should be the same as the original details given.</li>
            <li><b>Submissions: </b>You have to submit the request for revision on time.</li>
            <li><b>Deadlines: </b>You are free to make revision requests, However, 
                this should be done before approving the order. After the order is first approved, 
                you will have a grace period of seven days to ask for a revision.</li>
        </ul>
        <br>
        <p>In case there is the need to make a major revision seven days after the approval of the order, 
            you may be required to make an additional payment.</p>
        <h4>Privacy</h4>
        <p>We guarantee strict confidentiality and authenticity on all orders. 
            We do NOT re-use any custom papers and we do NOT share our clients' private details.</p>

        <h3>What Are You Waiting For? Place Your Order Today!</h3>
        <br>
        <a class="btn btn-primary btn-xl" href="{%url 'hire' %}">HIRE US</a>
         
    </div>
</section>

{% endblock %}